<div class="container">
  <strong><p>
    Disclaimer: Safe Path is not intended to serve as medical advice or as a substitute for professional medical care. Listed options for care may be limited based on your insurance plan. Please check with your plan to review coverage information for the resources provided through Safe Path.
  </p></strong>
    <hr />
  <p>SafePath v2.0.0 | Team Awesome | Dana Hazen, Kristen Kinnear-Ohlmann, Rachel Mahoney, Leslie Mollner |
    <a href="http://www.hackthegap.com/">Hack the Gap 2016</a> |
  </p>

</div>
