<!DOCTYPE html>
<!-- <navbar></navbar> -->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Safe Path</h1>
    <p class="lead">Local Resources for Mental Wellbeing
    </p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Find mental health resources near you:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Zip Code</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="55124" ng-model="main.zipCode">
    </p>
    <label>Within</label>
      <select>
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
      </select><span> miles</span>
      <p></p>
    <label>Resource Type</label>
      <select>
        <option value="" disabled selected hidden>Please Choose...</option>
        <option>all</option>
        <option>help line</option>
        <option>clinic</option>
        <option>hospital</option>
        <option>social work</option>
      </select>
      <p></p>
      <p>
        <button type="submit" class="btn btn-primary" ng-click="main.testFunc()">Find!</button>
      </p>
  </form>
  <p ng-repeat="row in main.results">
    <span>
      {{row.name}}
      {{row.visit_address.state}}
    </span>
  </p>
</div>

<footer></footer>
